recursive-include pytholog *.py
recursive-include examples *.txt
recursive-include examples *.md

include setup.py
include requirements.txt
include README.md
include MANIFEST.in
include *.lock
include *.py
include LICENSE
include Pipfile
include tox.ini