recursive-include pytholog *.py

include setup.py
include requirements.txt
include README.md
include MANIFEST.in
include *.lock
include *.md
include *.py
include *.txt
include LICENSE
include Pipfile
include tox.ini